@media only screen and (min-width: 767px) {
  .cl-image {
    height: 50vh;
    width: 100vw;
    background-size: cover;
  }
  .cloud-heading {
    padding: 30px;
    font-weight: 200;
    background-color: #0f3873;
    font-family: roboto;
    color: #ffff;
    margin-top: 0px;
  }
  .cl-heading2 {
    margin-left: 100px;
    color: #0f3873;
    font-family: roboto;
    font-weight: 400;
  }
  .cl-para1 {
    margin-left: 100px;
    font-size: 15px;
    font-family: roboto;
  }
  .main-cloud-container {
    display: flex;
    flex-direction: row;
    padding: 40px;
    background-color: #b6bfcd;
    margin-top: 40px;
  }
  .image-cloud-container {
    width: 50%;
    transition: 1s;
  }
  .image-cloud-container:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  .content-cloud {
    margin-top: 30px;
    margin-left: 30px;
    width: 50%;
    transition: 1s;
  }
  .content-cloud:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  .cloud-heading1 {
    font-family: roboto;
    color: #0f3873;
  }
  .p1 {
    color: black;
    font-family: roboto;
  }
  .main-cloud-container2 {
    display: flex;
    flex-direction: row;
    padding: 40px;
    background-color: #b6bfcd;
    margin-top: 0px;
    transition: 1s;
  }
  .main-cloud-container2:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  .content-cloud2 {
    margin-top: 30px;
    margin-left: 60px;
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .cloud-container {
    max-width: 400px;
  }
  .cl-image {
    height: 50vh;
    max-width: 400px;
    background-size: cover;
  }
  .cloud-heading {
    padding: 20px;
    font-weight: 200;
    background-color: #0f3873;
    font-family: roboto;
    color: #ffff;
    margin-top: 0px;
    max-width: 400px;
  }
  .cl-heading2 {
    margin-left: 20px;
    color: #0f3873;
    font-family: roboto;
    font-weight: 400;
    font-size: 25px;
  }
  .cl-para1 {
    margin-left: 20px;
    font-size: 15px;
    font-family: roboto;
    max-width: 400px;
  }
  .main-cloud-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #b6bfcd;
    margin-top: 30px;
    max-width: 400px;
  }
  .image-cloud-container {
    max-width: 400px;
  }
  .content-cloud {
    margin-top: 20px;
    margin-left: 20px;
    max-width: 400px;
  }
  .cloud-heading1 {
    font-family: roboto;
    color: #0f3873;
    font-size: 30px;
  }
  .p1 {
    color: black;
    font-family: roboto;
  }
  .main-cloud-container2 {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #b6bfcd;
    margin-top: 0px;
  }
  .main-image {
    width: 350px;
    height: 300px;
  }
}
