/* Write your CSS code here */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-and-title-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  height: 80px;
  margin-right: 8px;
  margin-left: 20px;
}

.title {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: bold;
}

.nav-items-list {
  display: flex;
  padding-left: 0px;
}

.link-item {
  list-style-type: none;

  margin-left: 30px;
}

.route-link {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 16px;
  margin-right: 20px;
}
.section-service {
  border: none;
}
.s1 {
  font-family: playfair display;
  color: #1a6bed;
  font-size: 30px;
  margin-left: 5px;
  margin-top: 0px;
}
.s2 {
  color: black;
  font-family: playfair;
  font-size: 22px;
  margin-left: 5px;
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
  }
  .logo {
    width: 55px;
    height: 55px;
    margin-right: 8px;
    margin-left: 20px;
  }
  .nav-items-list {
    display: none;
    padding-left: 0px;
  }
  .s1 {
    font-family: playfair display;
    color: #1a6bed;
    font-size: 22px;
    margin-left: 5px;
    margin-top: 0px;
  }
  .s2 {
    color: black;
    font-family: playfair;
    font-size: 15px;
    margin-left: 5px;
  }
}
