/* Write your CSS code here */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

@media (max-width: 575px) {
  .header-container {
    padding: 15px;
  }
}

.logo-and-title-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 8px;
}

.title {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: bold;
}

.nav-items-list {
  display: flex;
  padding-left: 0px;
}

.link-item {
  list-style-type: none;

  margin-left: 30px;
}

.route-link {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 16px;
  margin-right: 20px;
}
.section-service {
  border: none;
}
.s1 {
  font-family: playfair display;
  color: #1a6bed;
  font-size: 33px;
  margin-left: 5px;
  margin-top: 0px;
}
.s2 {
  color: black;
  font-family: playfair;
  font-size: 26px;
  margin-left: 5px;
}
