.training-container {
  background-image: url('https://www.dnnsoftware.com/Portals/0/Images/hero-background-15.jpg?ver=2017-08-18-172107-023');
  height: 90vh;
  background-size: cover;
  padding: 40px;
}
.t {
  text-decoration: underline;
  font-family: roboto;
  color: #21dc00;
}
.one {
  color: #ffffff;
  font-family: roboto;
}
.t2 {
  text-decoration: underline;
  font-family: roboto;
  color: #21dc00;
}
