@media only screen and (min-width: 767px) {
  .mbl-1 {
    height: 60vh;
    width: 100vw;
    background-size: cover;
  }
  .mbl-heading {
    color: #ffffff;
    font-weight: 100;
    padding: 30px;
    background-color: #0f2e5a;
    margin-top: 0px;
    font-family: roboto;
  }
  .mbl-heading2 {
    margin-left: 200px;
    font-weight: 500;
    color: #0f2e5a;
    font-family: roboto;
  }
  .mbl-para {
    margin-left: 200px;

    color: #0f2e5a;
    font-family: roboto;
  }
  .container2 {
    background-color: #b7c6db;
    padding: 30px;
  }
  .mobile-heading {
    color: #0f2e5a;
    font-family: roboto;
    text-align: center;
  }
  .last-container {
    display: flex;
    flex-direction: row;
  }
  .mobile-image-container {
    width: 50%;
    transition: 1s;
  }
  .mobile-image-container:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  .mobile-main-points {
    width: 50%;
    margin-top: 40px;
  }
  .mobile-main-points {
    transition: 1s;
  }
  .mobile-main-points:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  .point {
    font-family: roboto;
    color: #0f2e5a;
    font-weight: 400;
  }
  .paragraph-point {
    color: black;
    font-family: roboto;
  }
  .mobile-main-points2 {
    width: 50%;
    margin-top: 40px;
    margin-left: 100px;
    transition: 1s;
  }
  .mobile-main-points2:hover {
    transform: scale(1.1);
    z-index: 1;
  }
}
@media only screen and (max-width: 767px) {
  .mbl-1 {
    height: 40vh;
    max-width: 400px;
    background-size: cover;
  }
  .mbl-heading {
    color: #ffffff;
    font-weight: 100;
    padding: 30px;
    background-color: #0f2e5a;
    margin-top: 0px;
    font-family: roboto;
    max-width: 400px;
  }
  .mbl-heading2 {
    margin-left: 20px;
    font-weight: 500;
    color: #0f2e5a;
    font-family: roboto;
    font-size: 25px;
    max-width: 400px;
  }
  .mbl-para {
    margin-left: 20px;

    color: #0f2e5a;
    font-family: roboto;
    font-size: 13px;
  }
  .container2 {
    background-color: #b7c6db;
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }
  .mobile-heading {
    color: #0f2e5a;
    font-family: roboto;
    text-align: center;
    font-size: 20px;
  }

  .picture {
    height: 300px;
    width: 380px;
  }

  .mobile-main-points {
    margin-top: 20px;
    margin-left: 20px;
  }
  .point {
    font-family: roboto;
    color: #0f2e5a;
    font-weight: 400;
  }
  .paragraph-point {
    color: black;
    font-family: roboto;
  }
  .mobile-main-points2 {
    margin-top: 40px;
    margin-left: 20px;
  }
}
